* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug{
    background-color: goldenrod;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


header {
    height: 60px;
    background-color: goldenrod;
  }
  
footer {
    height: 100px;
    background-color: goldenrod;
  }

main {
    height: calc(100vh - 160px);
  }

#main-section{
    display:flex;
    height: 100%;
  }

.dekstopnavbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 180px;
    background-color: bisque;
}

.mobilenavbar{
    display: none;
}

.topmenu{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    background-color: aqua;
} /* sistemare i singoli LI */


.content{
    background-color: lightcoral;
    width: calc(100% - 180px);
    overflow: auto;
    padding: 15px;
}

.container{
    margin-top: 20px;
    max-width: 100%;
}

.row{
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: aqua;
}

.col{
    max-width: calc(100% / 6);
    flex: 1;
    background-color: yellowgreen;
    border: 1px solid black;
}

.card{
    
    margin: 10px;
}