/* Generiche */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Variabili */

:root{

    --navbg-color: #0a0a0a ;
    --headerbg-color: #0b0e16;
    --mainbg-color: #12161d;
    --footerbg-color: #282828;

    --btn-color: #F0F0F0;

    --grayfont-color: #75787D ;
    --whitefont-color: #FFFFFF ;
    
    --Spotify-green: #A5F22E;

}



/* Utilities */

.bg-debug{
    background-color: goldenrod;
}

.d-flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flexdirection-col{
    flex-direction: column;
}

.jc-space-between{
    justify-content: space-between;
}

.jc-space-around{
    justify-content: space-around;
}

.jc-flex-end{
    justify-content: flex-end;
}

.jc-center{
    justify-content: center;
} 

.jc-flex-start{
    justify-content: flex-start;
}

.dis-none {
    display: none;
}


h3{ /*Per i titoli degli album*/

    text-align: center;
    margin: 10px;
    color: var(--whitefont-color);
    font-size: 16px;

}

h1 { /*Per i titoli delle sezioni*/
    color: var(--whitefont-color);
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 25px;
}




/* Button e Interagibili*/

.btn-interact:hover{
    color: var(--grayfont-color);
    border: 1px solid var(--grayfont-color);
}

.link-interact:hover{
    color: var(--whitefont-color);
}

.link-interact:active{
    border-bottom: 2px solid var(--Spotify-green);
}


/* DA SISTEMARE L'HOVER DEGLI ALBUM
.album-interact:hover{
    cursor: pointer;
    opacity: 50%;

}

.row .col .card img:hover{
    cursor: pointer;
    opacity: 50%;
}  */


.btn{
    border: 2px solid var(--btn-color);
    color: var(--btn-color);
    border-radius: 25px;
    background-color: transparent;
    padding: 10px 30px;
    margin: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    
}








/* MAIN & FOOTER */


footer {
    height: 100px;
    background-color: var(--footerbg-color)
  }

main {
    height: calc(100vh - 100px);
    background-color: var(--mainbg-color);
  }

#main-section{
    display:flex;
    height: 100%;
  }



/* SEZIONE NAVBAR */
 
  
.desktop-navbar{
    background-color: var(--navbg-color);
    height: 100%;
    width: 250px;
    list-style-type: none;
}

.desktop-navbar ul li{
    list-style-type: none;
}

.topnavbar {
    overflow: hidden;
}

#logo{
    width: 150px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

#navbarmenu li{
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    color: var(--grayfont-color);
}

#navbarmenu i{
    font-size: 25px;
    padding-right: 2px;
    color: var(--grayfont-color);
}

#navbarmenu li:hover{
    border-left: 4px solid var(--Spotify-green);
    color: var(--whitefont-color);
    cursor: pointer;
}

#navbarmenu li:hover i{
    color: var(--whitefont-color);
}


#playlist h4{
    color: var(--whitefont-color);
    margin-top: 10px;
    margin-bottom: 5px;
}


#playlist{
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left: 5px;
    padding-left: 10px;
    color: var(--grayfont-color);

}


#playlist ul li:first-child {
    padding-top: 20px;
    padding-bottom: 20px;
}

#playlist ul li:hover {
    color: var(--whitefont-color);
    cursor: pointer;
}

#playlist i {
    font-size: 38px;
    padding-right: 5px;
    vertical-align: middle;
    color: var(--whitefont-color);
}

#playlist ul li:not(:first-child) {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navscrollbar{
    height: 100vh;
    overflow: auto;
}

.bottomnavbar {
    height: 70px;
    padding-left: 10px;
    padding-right: 15px;
    color: var(--whitefont-color);
}

#installa{
    padding-bottom: 5px;
    padding-top: 5px;
}

#user {
    padding-bottom: 5px;
    padding-top: 5px;
}



/* Main */

#main-content{
    width: calc(100% - 250px);
}

.fakeheader{
    max-width: 100%;
    height: 100px;
    background-color: var(--headerbg-color);
    /* background-color: rgba(11, 14, 22, 0.8);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); */
    justify-content: right;
}

.content{
    height: calc(100% - 100px );
    overflow: auto;

}


.content ul li{
    list-style-type: none;
    padding: 0 15px;
    padding-top: 15px;
    margin-top: 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--grayfont-color);
}

.content ul li:hover{
    color: var(--whitefont-color);
}

.content ul li:active{
    border-bottom: 2px solid var(--Spotify-green);
}


.container{
    margin-top: 10px;
    margin-right: 20px;
    max-width: 100%;
    margin-bottom: 10px;
}

.row{
    width: 100%;
    padding-left: 15px;
}

.col {
    flex-basis: calc(100% / 6);
}

.col .card p {
    text-align: center;
    font-style: italic;
    color: var(--grayfont-color);
}

.card {
    margin: 5px;
}

.card img {
    width: 100%;
}

#h1subtitle{
    margin-left: 20px;
    color: var(--grayfont-color);
    display: block;
}









/*FOOTER MENU*/

.footermenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
}


/*Left menu*/

.leftmenu{
    width: 25%;
    height: 95%;
    display: flex;
    align-items: center;
    color: var(--grayfont-color);

}

.leftmenu img {
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 60px;

}


#branoriprodotto p:last-child {
    color: var(--grayfont-color);
    font-size: 13px;
}

#leftmenuicon{
    padding-left: 20px;
}


.leftmenu i {
    padding: 5px;
}

.leftmenu p {
    color: var(--whitefont-color);
    font-weight: bold;
    padding-left: 15px;
}

#branoriprodotto p:hover{
    color: var(--whitefont-color);
}

#leftmenuicon i:hover{
    color: var(--whitefont-color);
}


/*Central menu*/


/* DA STUDIARE MEGLIO */

.centralmenu{
    width: 50%;
    color: var(--whitefont-color);
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 15px;
    margin-bottom: 10px;
}

.fa-play{
    font-size: 20px;
}

.icon:hover{
    transform: scale(1.1);
    cursor: pointer;
    color: var(--Spotify-green);
}

.progress-bar{
    display: flex;
    align-items: center;
    width: 95%;
    max-width: 450px;
/* 
    width: 100%;
    max-width: 400px; */
    gap: 5px;

}

.progress-bar span{
    font-size: 12px;
}

.bar {
    background-color: var(--grayfont-color);
    width: 100%;
    height: 5px; 
}

.filled{
    background-color: #fff;
    height: 100%;
    width: 30%;
}

.filled:hover{
    background-color: var(--Spotify-green);
}


/*Right menu*/

.rightmenu{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding: 10px;
    color: var(--whitefont-color);
    font-size: 15px;
}

.rightmenu i:hover{
    cursor: pointer;
    color: var(--Spotify-green);
}

.volbar{
    width: 100px;
    height: 5px;
    background-color: var(--grayfont-color);
    border-radius: 5px;
}

.filledvolbar {
    width: 50%;
    height: 100%;
    background-color: var(--whitefont-color);
    border-radius: 5px;
}